.bottom-line{
  border-bottom: 1.5px solid #99a7ee;
}

.new-annotation-button{
  list-style: none;
  margin: 5px;
  border: 2px solid black;
  margin-top: 1px;  
  width: 130px;
  padding: 5px;
  cursor: pointer;
}

.new-annotation-button:hover{
  background: #99a7ee;
}

.annotation-index-item{
  list-style: square;
  display: flex; 
  justify-content: space-between;
  flex-direction: column;
}



.annotation-delete:hover{
  background: #99a7ee;
}

.annotation-delete{
  border: 2px solid black;
  cursor: pointer;
  padding: 5px;
  height: 15px;
  width: 47px;
  margin-bottom: 10px; 
}

.annotation-content{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  cursor: default;
  margin-top: 10px;
  margin-bottom: 10px;
}

.annotation-body:hover{
  background: #99a7ee;
}

.annotation-body{
  height: 100%;
  white-space: pre-wrap;
}

.comment-body{
  height: 100%;
  white-space: pre-wrap;
}