.bottom-line{
  border-bottom: 1.5px solid #99a7ee;
}

.new-annotation-button{
  list-style: none;
  margin: 5px;
  border: 2px solid black;
  margin-top: 1px;  
  width: 130px;
  padding: 5px;
  cursor: pointer;
  box-shadow: 2.5px 2.5px 2.5px black;
}

.new-annotation-button:hover{
  box-shadow: 5px 5px 5px black;
}

.annotation-index-item{
  list-style: square;
  display: flex; 
  justify-content: space-between;
  flex-direction: column;
  box-shadow: 0px 2px 0px black;
}



.annotation-delete:hover{
  box-shadow: 5px 5px 5px black;
}

.annotation-delete{
  border: 2px solid black;
  cursor: pointer;
  padding: 5px;
  height: 17px;
  width: 47px;
  margin-bottom: 10px; 
  box-shadow: 2.5px 2.5px 2.5px black;
}

.annotation-content{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  cursor: default;
  margin-top: 10px;
  margin-bottom: 10px;
}

.annotation-body:hover{
  text-shadow: 1.5px 1.5px 1.5px black;
  color: white;
}

.annotation-body{
  height: 100%;
  white-space: pre-wrap;
}

.comment-body{
  height: 100%;
  white-space: pre-wrap;
}

.new-comment-button{
  list-style: none;
  margin: 5px;
  border: 2px solid black;
  margin-top: 1px;  
  width: 160px;
  padding: 5px;
  cursor: pointer;
  box-shadow: 2.5px 2.5px 2.5px black;
}

.new-comment-button:hover{
  box-shadow: 5px 5px 5px black;
}

.button-container{
  display: flex;
  flex-direction: row;
}

.view-comments:hover{
  box-shadow: 5px 5px 5px black;
}

.view-comments{
  border: 2px solid black;
  cursor: pointer;
  padding: 5px;
  height: 17px;
  width: 120px;
  margin-bottom: 10px; 
  box-shadow: 2.5px 2.5px 2.5px black;
  margin-left: 5px;
}