.song-index-item-image{
  width: 75px;
  height: 75px;
}

.song-index-item a{
  display: flex;
  flex-direction: row;
  text-decoration: none;
  width: 100%;
  text-shadow: 2.5px 2.5px 2.5px #ffff64;
}

.song-index-item{
  padding-bottom: 10px;
  padding-top: 10px;
  border-bottom: 1px solid #ccc;
}

.song-index-item-information{
  padding-left: 10px;
}

.song-index-item a:hover{
  color: white;
  text-shadow: 2.5px 2.5px 2.5px black;
}

.song-index-item-title{
  font-size: 1.5em;
}


.songs-index{
  display: flex;
  position: center;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  margin-left: 30%;
  width: 40%
}

.songs-index ul{
  width: 100%;
}

.songs-index-header{
  border-bottom: 1px solid black;
}

