.lyrics{
  position: relative;
  width: 300px;
  color: black;
  white-space: pre-wrap;
  padding-bottom: 300px;
}

.lyrics a {
  text-decoration: underline;
  color: blue;
  cursor: pointer;
  z-index: 4;
  position: relative;
}

.ghost{
  white-space: pre-wrap;
  color: transparent;
  z-index: 3;
  position: absolute;
  width: 300px;
}

