.lyrics{
  position: relative;
  width: 450px;
  font-size: 20px;
  color: black;
  white-space: pre-wrap;
  padding-bottom: 300px;
  line-height: 200%;
  padding: 10px;
}

.lyrics a {
  /* text-decoration: underline;
  color: blue; */
  cursor: pointer;
  z-index: 4;
  position: relative;
  background: #ffff64;;
}

.lyrics a:hover{
  background: lightgrey;
}

.lyrics a:active{
  background: #83ff64;
}

.ghost{
  white-space: pre-wrap;
  color: transparent;
  font-size: 20px;
  z-index: 3;
  position: absolute;
  width: 450px;
  line-height: 200%;
  padding: 10px;
}


