.song-index-item-image{
  width: 75px;
  height: 75px;
}

.song-index-item a{
  display: flex;
  flex-direction: row;
  text-decoration: none;
  width: 100%;
  text-shadow: 2.5px 2.5px 2.5px #ffff64;
}

.song-index-item{
  padding-bottom: 10px;
  padding-top: 10px;
  border-bottom: 1px solid #ccc;
}

.song-index-item-information{
  padding-left: 10px;
}

.song-index-item a:hover{
  color: white;
  text-shadow: 2.5px 2.5px 2.5px black;
}

.song-index-item-title{
  font-size: 1.5em;
}


.songs-index{
  display: flex;
  position: center;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  margin-left: 30%;
  width: 40%
}

.songs-index ul{
  width: 100%;
}

.songs-index-header{
  border-bottom: 1px solid black;
}

.song-index-splash{
  display: flex;
  background: url('https://images.unsplash.com/photo-1484755560615-a4c64e778a6c?auto=format&fit=crop&w=1580&q=80&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D');
  background-repeat:no-repeat;
  background-size:cover;
  height: 400px;
  justify-content: center;
  align-items: center;
  background-position-y: -300px; 
}

.song-index-splash h1{
  color: white;
  text-shadow: 4px 4px 4px black;
}

